!!! 5
%html
  %head
    %title Go ratings app
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %link(rel="stylesheet" href="css/styles.css")
  %body
    #wrapper
      #header
        %h1 Bato Go Club's Ratings
        %h2 Update and view ratings of go players
      #nav
        %ol
          %a(href="/")
            %li update
          %a(href="/ratings")
            %li ratings

      #content
        =yield
